doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(href="style.css", rel="stylesheet")
    != components['oc-client']
    title= title
  body(data-address!= address)
    != components['oc-ua-tracking-code']
    header
      != components['oc-columbus-header']
    p
      != components['oc-apod']
    footer
      div.what-did-you-do
        span What did you do
        span
          != components['oc-timeago']
        span today?
      div= title
