body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: darkgray;
}

footer {
  border: 2px solid #EEE;
  background-color: lightgray;
  padding: 0.5em;
  font-weight: normal;
  display: flex;
  flex-direction: column;
  text-align: right;
  margin-top: 0.5em;
}

.App {
  border: 2px solid #EEE;
  padding: 2em;
  background-color: black;
}

.Layout {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.Message {
  background-color: #EEE;
  opacity: 0.75;
  padding: 0.5em;
  margin: 0.5em;
}

.error-message {
  background-color: white;
  opacity: 0.9;
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.error-message :first-child {
  position: relative;
  top: -25%;
}

.hide {
  display: none;
}

.what-did-you-do {
  display: flex;
  justify-content: flex-end;
  color:darkslateblue;
}

.what-did-you-do > span {
  margin-left: 0.5ch;
  padding: 0;
}

.oc-columbus-header {
  display: flex;
  align-items: center;
}

.oc-columbus-header img {
  width: 2em;
}

.oc-columbus-header h1 {
  text-shadow: 2px 2px pink;
}

.oc-apod {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

div.oc-apod, .oc-apod > div {
  border: 1px solid darkblue;
}

.oc-apod > div {
  padding: 0.5em;
  margin: 0.5em;
  background-color: white;
  opacity: 0.75;
}
