body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: palegoldenrod;
}

.Message, .Counter {
  background-color: #EEE;
  padding: 0.5em;
  margin: 0.5em;
}

.App {
  border: 2px solid #EEE;
  padding: 2em;
  background-color: darkblue;
}

.Layout {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.OC {
  color: blue;
  background-color: #E99;
  padding: 0.5em;
  margin: 0.5em;
}

.OC > oc-component {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer {
  border: 2px solid #EEE;
  background-color: mediumseagreen;
  padding: 0.5em;
  font-weight: normal;
  display: flex;
  flex-direction: column;
  text-align: right;
}

.error-message {
  background-color: white;
  opacity: 0.9;
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.error-message :first-child {
  color: purple;
  position: relative;
  top: -25%;
}

.hide {
  display: none;
}

.what-did-you-do {
  display: flex;
  justify-content: flex-end;
  color:darkred;
}

.what-did-you-do > span{
  margin-left: 0.5ch;
  padding: 0;
}
