body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: palegoldenrod;
}

.Message, .Counter {
  background-color: #EEE;
  padding: 0.5em;
  margin: 0.5em;
}

.App {
  border: 2px solid #EEE;
  padding: 2em;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.OC {
  color: blue;
  background-color: #E99;
  padding: 0.5em;
  margin: 0.5em;
}

.OC > oc-component {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hide {
  display: none;
}
